<nav>
    <ul>
        <li> <a href="{% url 'home' %}"> Home </a> </li>
        {% if user.is_authenticated %}
        <li> <div> 환영합니다. {{ user.username }}님!</div>
            <div> <a href="javascript:{document.getElementById('logout').submit()}"> Logout </a> </div>
            <form id="logout" method="POST" action="{% url 'logout' %}">
                {% csrf_token %} <input type="hidden"/>
            </form>
        </li>
        {% else %}
        <li> <a href="{% url 'signup' %}"> Signup </a> </li>
        <li> <a href="{% url 'login' %}"> Login </a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}
{% endblock %}
